{% extends "/templates/custom-web.html" %}

{% block content %}

<div class="container">
    <div class="header">
        <h1>Delivery Details</h1>
    </div>
    <form id="delivery-form">   
        <div>
            <label for="name">Name: <input type="text" id="name" name="first-name" required /></label>
            <label for="phone">Phone: <input type="tel" id="phone" name="phone" required /></label>
            <label>Email: <input type="email" id="email" name="email" required /></label>
            <label for="address">Address: <input type="text" id="address" name="address" required /></label>
            <label for="bouquet_type">Bouquet Type:<input type="text" id="bouquet_type" name="bouquet_type" required /></label>
            <label for="bouquet_price">Bouquet Price: <input type="text" id="bouquet_price" name="bouquet_price" placeholder="Minimum 2000" /></label>
            <p id="price-message" style="display: none; color: rgb(186, 5, 192);">You have to add few more bucks.</p>
            <label for="gift_wrapping">Gift Wrapping: <input type="checkbox" id="gift_wrapping" name="gift-wrapping"></label>
            <label for="urgent_delivery">Urgent Delivery: <input type="checkbox" id="urgent_delivery" name="urgent-delivery"></label>
            <button type="submit" class="submit-btn">Submit</button>
        </div>
    </form>
</div>  
<script>
    document.getElementById('delivery-form').addEventListener('submit', function(event) {
        event.preventDefault();

        var bouquetPrice = parseFloat(document.getElementById('bouquet_price').value);

        // Check if the price is less than 200
        if (bouquetPrice < 2000) {
            document.getElementById('price-message').style.display = 'block';
            return; // Don't proceed further
        }

        // Continue with the form submission logic
        var firstName = document.getElementById('name').value;
        var phone = document.getElementById('phone').value;
        var email = document.getElementById('email').value;
        var address = document.getElementById('address').value;
        var bouquetType = document.getElementById('bouquet_type').value;
        var giftWrapping = document.getElementById('gift_wrapping').checked;
        var urgentDelivery = document.getElementById('urgent_delivery').checked;

        // Populate formData with all data
        var formData = {
            'name': firstName,
            'phone': phone,
            'email': email,
            'address': address,
            'bouquet_type': bouquetType,
            'gift_wrapping': giftWrapping,
            'urgent_delivery': urgentDelivery,
            'bouquet_price': bouquetPrice // Add bouquet price to formData
        };
        frappe.call({
            method: 'interflora.event.orderreq.myfunc',
            args: {
                formData: formData
            }
        });
        // console.log(formData)
    });
</script>
{% endblock %}

